PROJECT_NAME="testscope"
APP_NAME="Testscope"
DB_HOST=localhost
DB_USER=testdb
DB_PASS=testdb
DB_NAME=testdb
FIREBASE_ACCOUNT_KEY_PATH=./firebase-service-account.json
FIREBASE_PROJECT_ID=testscope-id-example
XENDIT_API_KEY=foobar
XENDIT_API_SECRET=foobar
XENDIT_API_PUB_KEY=foobar
XENDIT_CALLBACK_TOKEN=foobar
SENDINDBLUE_API_KEY=abc123
S3_URL=localhost:9000
S3_ACCESS_KEY=testminio
S3_SECRET_KEY=testminio123
RESEND_API_KEY=foobar
POSTHOG_API_KEY=foobar
POSTHOG_PERSONAL_API_KEY=foobar
GROWTHBOOK_API_URL=foobar
